* {
    font-family: 'Ubuntu', 'Montserrat', sans-serif;
}

body {
    background-color: rgb(210, 230, 255);
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(210, 230, 255);
}

h1 {
    background-color: #303C6C;
    color: white;
    font-size: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #1F2833;
    width: 300px;
    text-align: center;
}

main {
    height: 300px;
}

button {
    background-color: #303C6C;
    color: white;
    justify-content: center;
    align-content: center;
    height: 32px;
    width: 13%;
    border: 1px solid #1F2833;
    border-radius: 3px;
}

.inputSection {
    display: flex;
}

.input {
    display: flex;
    border: 1px solid #1F2833;
    background-color: rgb(255, 255, 255);
    color: rgb(30, 30, 30);
    width: 94%;
    height: 32px;
    margin: 0px 3% 0px 3%;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 3px;
}

.container {
    border: 1px solid #1F2833;
    background-color: rgb(252, 252, 252);
    margin: 0 2% 10px 2%;
    text-align: center;
    border-radius: 3px;
}

.category {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.question {
    color: rgb(30, 30, 30);
    height: 200px;
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

.thumbs {
    align-items: flex-end;
    justify-content: space-evenly;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}

.thumbsup {
    background-color: #3E8F41;
}

.thumbsdown {
    background-color: #F93E3E;
}

.on {
    display: block;
}

.off {
    display: none;
}
