* {
    font-family: 'Ubuntu', 'Montserrat', sans-serif;
}

body {
    background-color: #196489
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #196489;
}

h1 {
    background-color: #D8D8D8;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 65%;
    text-align: center;
}

main {
    height: 600px;
}

button {
    background-color: #D8D8D8;
    justify-content: center;
    align-content: center;
    height: 32px;
    width: 13%;
    border-radius: 3px;
    font-weight: bold;
}

.container {
    border: 1px solid gray;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 3px;
}

.question {
    height: 500px;
    font-size: 25px;
}

.category {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.buttons {
    align-items: flex-end;
    margin: 0px 3px 10px 3px;
}

.scroll {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.scroll button {
    margin: 0px 3px 0px 3px;
}

